@font-face {
  font-family: 'titleFont';
  src: url('./../public/fonts/Marcellus-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root { 
  --font-title: titleFont;
  --font-text: "Montserrat", sans-serif;
  /* --charcoal: #122620; */
  --charcoal: #1c2222;
  --cream: #F4EBD0;
  --tan: rgb(182, 141, 64);
  --gold: #D6AD60;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html, body {
  background-color: var(--charcoal);
}

* {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* > a {
  text-decoration: none !important;
  outline: none !important;
  width: fit-content;
}

html,
body {
  overflow-x: hidden;
  overflow-y: initial;
}
