.main {
  display: inline-block;
}

.hero_banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero_banner_video {
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero_banner_texts_container {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero_banner_fade {
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--charcoal) , transparent);
  opacity: 0.6;
}

.hero_banner_texts {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  z-index: 2;
}

.hero_banner_search {
  text-align: center;
  transform: translate(0%, -100px);
  width: 600px;
  display: flex;
}

.hero_banner_texts > h2 {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--font-title);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-left: 30%
}

.hero_banner_texts > h2 > span {
  font-size: 25px;
  margin-left: 10px;
}

.message {
  /* background-color: rgba(18, 38, 32, 0.2); */
  font-family: var(--font-title);
  color: white;
  display: block;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  top: 0.1rem;
  left: 150px;
  animation: openclose 10s ease-in-out infinite;
}

.logo_img {
  width: 35%;
  height: 35%;
}

@keyframes openclose {
  0% {
    top: 0%;
    width: 0;
  }
  5% {
    top: 0%;
    width: 0;
  }
  15% {
    top: 0%;
    width: 285px;
  }
  30% {
    top: 0%;
    width: 285px;
  }
  33% {
    top: 0%;
    width: 0;
  }
  38% {
    top: -100%;
    width: 0;
  }
  48% {
    top: -100%;
    width: 190px;
  }
  62% {
    top: -100%;
    width: 190px;
  }
  66% {
    top: -100%;
    width: 0;
    /* text-indent: 0; */
  }
  71% {
    top: -200%;
    width: 0;
    /* text-indent: 5px; */
  }
  86% {
    top: -200%;
    width: 140px;
  }
  95% {
    top: -200%;
    width: 140px;
  }
  98% {
    top: -200%;
    width: 0;
    /* text-indent: 5px; */
  }
  100% {
    top: 0%;
    width: 0;
    /* text-indent: 0; */
  }
}

.cocktails_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--charcoal);
  overflow: hidden;
  overflow: hidden;
}

.cocktails_section h2 {
  color: var(--gold);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: fit-content;
  font-family: var(--font-title);
  padding-top: 6rem;
}

.cocktails {
  height: fit-content;
  background-color: var(--charcoal);
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.no_result_container {
  width: 100%;
  height: 100vh;
  background-color: var(--charcoal);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.no_result_text {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: fit-content;
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  padding-bottom: 2px;
}

.no_result_container > :last-child {
  transform: rotatex(180deg) translatey(15px);
	--gradient: linear-gradient(transparent 10%, rgba(255, 255, 255, 0.5) 90%);
	-webkit-mask-image: var(--gradient);
	mask-image: var(--gradient);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (min-width: 700px) {
  .hero_banner_texts > h2 {
    margin-left: 65%;
  }

  .hero_banner_texts {
    justify-content: space-around;
  }

  .no_result_text {
    font-size: 40px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 1024px) {
  .cocktails_section h2 {
    font-size: 3rem;
  }

  .hero_banner_texts > h2 {
    margin-left: 75%;
  }
}

/* Desktop */
@media (min-width: 1440px) {

  .hero_banner_texts > h2 {
    margin-left: 85%;
  }
}

/* Large Desktop */
@media (min-width: 2560px) {

  .hero_banner_texts > h2 {
    margin-left: 90%;
  }
}